@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --spacing-5/2: 250%;
  --spacing-11/5: 220%;
  --breakpoint-2xl: 1536px;
  --radius: 0.5rem;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* Color Palette */
  /* Base colors */
  --color-palette-background: hsl(180 30% 96%);
  --color-palette-foreground: hsl(222.2 84% 4.9%);
  --color-palette-background-dark: hsl(0 0% 7%);
  --color-palette-foreground-dark: hsl(210 40% 98%);

  --color-palette-surface: hsl(0 0% 100%);
  --color-palette-surface-dark: hsl(0 0% 9%);

  --color-palette-border: hsl(217 11% 69%);
  --color-palette-border-dark: hsl(0 0 22%);
  --color-palette-input: hsl(217.2 32.6% 17.5%);
  --color-palette-input-dark: hsl(222 7% 80%);
  --color-palette-ring: hsl(217 11% 69%);
  --color-palette-ring-dark: hsl(212.7 26.8% 83.9%);

  /* action colors */
  --color-palette-primary: hsl(126 61% 24%);
  --color-palette-primary-dark: hsl(141 65% 38%);

  --color-palette-secondary: hsl(211 11% 39%);
  --color-palette-secondary-dark: hsl(0 0% 16%);
  --color-palette-link: hsl(208 100% 38%);
  --color-palette-link-dark: hsl(208 100% 86%);

  /* status colors */
  --color-palette-info: hsl(230 94% 60%);
  --color-palette-success: hsl(142 72% 29%);
  --color-palette-warning: hsl(35 92% 33%);
  --color-palette-error: hsl(0 74% 42%);

  --color-palette-destructive: hsl(0 84.2% 60.2%);
  --color-palette-destructive-dark: hsl(0 62.8% 30.6%);

  --color-palette-muted: hsl(215 11% 36%);
  --color-palette-muted-dark: hsl(214 5% 64%);

  --color-palette-accent: hsl(240 5% 93%);
  --color-palette-accent-dark: hsl(0 0% 26%);
  /**** */

  /** Colors **/
  --color-background: var(--color-palette-background);
  --color-foreground: var(--color-palette-foreground);

  --color-card: var(--color-palette-surface);
  --color-card-foreground: var(--color-palette-foreground);
  --color-popover: var(--color-palette-surface);
  --color-popover-foreground: var(--color-palette-foreground);

  --color-border: var(--color-palette-border);
  --color-input: var(--color-palette-input);
  --color-ring: var(--color-palette-ring);
  --color-link: var(--color-palette-link);

  --color-primary: var(--color-palette-primary);
  --color-primary-foreground: var(--color-palette-foreground-dark);
  --color-secondary: var(--color-palette-secondary);
  --color-secondary-foreground: var(--color-palette-foreground-dark);
  --color-destructive: var(--color-palette-destructive);
  --color-destructive-foreground: var(--color-palette-foreground-dark);
  --color-muted: var(--color-palette-muted);
  --color-accent: var(--color-palette-accent);

  --color-info: var(--color-palette-info);
  --color-success: var(--color-palette-success);
  --color-warning: var(--color-palette-warning);
  --color-error: var(--color-palette-error);

  /** clip paths **/
  --clip-path-hline: 0 0, 100% 0, 100% 0, 0 0;
  --clip-path-rect: 0 0, 100% 0, 100% 100%, 0 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--color-palette-background-dark);
    --color-foreground: var(--color-palette-foreground-dark);
    --color-card: var(--color-palette-surface-dark);
    --color-popover: var(--color-palette-surface-dark);
    --color-border: var(--color-palette-border-dark);
    --color-input: var(--color-palette-input-dark);
    --color-ring: var(--color-palette-ring-dark);
    --color-primary: var(--color-palette-primary-dark);
    --color-primary-foreground: var(--color-palette-foreground);
    --color-secondary: var(--color-palette-secondary-dark);

    --color-destructive: var(--color-palette-destructive-dark);
    --color-muted: var(--color-palette-muted-dark);
    --color-accent: var(--color-palette-accent-dark);
    --color-link: var(--color-palette-link-dark);
  }
}

@layer utilities {
  .container {
    max-width: var(--breakpoint-xl);
    width: 100%;
    margin-inline: auto;
    padding-inline: 1rem;

    @variant lg {
      padding-inline: 2rem;
    }
  }

  .page-main {
    @apply py-12;
  }
}

@utility clip-* {
  clip-path: polygon(--value(--clip-path- *));
}

@theme inline {
  --font-sans: var(--font-open-sans);
  --font-serif: var(--font-libre-baskerville);
  --font-mono: var(--font-ibm-plex-mono);

  /* background images */
  --page-header-mask-gradient:
    90deg, var(--color-palette-background-dark) 0%,
    var(--color-palette-background-dark) 10%,
    --alpha(var(--color-palette-background-dark) / 45%) 33%,
    --alpha(var(--color-palette-background-dark) / 45%) 67%,
    var(--color-palette-background-dark) 90%,
    var(--color-palette-background-dark) 100%;
  --page-header-mobile-gradient: rgb(0 0 0 / 0.53) 0%, rgb(0 0 0 / 0.55) 100%;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    @apply font-sans;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
}

@layer components {
  .link {
    @apply no-underline underline-offset-4 text-link;
    @variant hover {
      @apply underline;
    }
  }
}

/** Toastify **/
:root {
  --toastify-icon-color-info: var(--color-info);
  --toastify-icon-color-success: var(--color-success);
  --toastify-icon-color-warning: var(--color-warning);
  --toastify-icon-color-error: var(--color-error);
}
.Toastify__toast {
  @apply rounded-full bg-palette-surface text-palette-foreground border border-palette-border shadow-sm;

  @variant dark {
    @apply bg-palette-surface-dark text-palette-foreground-dark border-palette-border-dark;
  }
}
